<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="/dashboard/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="/dashboard/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/dashboard/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="/dashboard/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="/dashboard/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="/dashboard/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/dashboard/images/profile/3.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu" style="width: 60px;">
                                <div class="dropdown-content-body">
                                    <form method="post" action="/auth/logout" style="display: flex; justify-content: center; align-items: center;">
                                        <button type="submit" class="btn btn-danger"><i class="icon-key"></i> <span>Logout</span></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/admin/dashboard" aria-expanded="false">
                            <i class="icon-home menu-icon" style="font-size:13px;margin-right:5px"></i><span class="nav-text">Home</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="/admin/dashboard/products" aria-expanded="false">
                            <i class="icon-flag menu-icon" style="font-size:13px;margin-right:5px"></i><span class="nav-text">Add Product</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <form class="container p-5 mt-5 bg-white" method="post" enctype="multipart/form-data" action="/admin/products/create">
                <h1 class="mb-5">Add New Product</h1>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control input-default" placeholder="product" name="name" required>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control input-default" placeholder="1" min="1" name="price" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea type="text" class="form-control input-default" placeholder="lorem ipsum" rows="4" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control input-default"  accept="image/png, image/jpeg, image/gif, image/webp" name="image" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/dashboard/plugins/common/common.min.js"></script>
    <script src="/dashboard/js/custom.min.js"></script>
    <script src="/dashboard/js/settings.js"></script>
    <script src="/dashboard/js/gleek.js"></script>
    <script src="/dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="/dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="/dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="/dashboard/plugins/d3v3/index.js"></script>
    <script src="/dashboard/plugins/topojson/topojson.min.js"></script>
    <script src="/dashboard/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/dashboard/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="/dashboard/plugins/moment/moment.min.js"></script>
    <script src="/dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="/dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="/dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>


    <script src="/dashboard/js/dashboard/dashboard-1.js"></script>

</body>

</html>
